::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center;
}

@font-face{
    font-family: 'AgencyFB';
    src: url('../fonts/AgencyFB/AgencyFB-Reg.woff2') format('woff2'),
        url('../fonts/agencyFB/AgencyFB-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ocultar{
    display: none;
}

.pantalladecarga{
    background:url('../img/1.png') no-repeat center center;
    width: 360px;
    height: 616px;
    position: absolute;
    top:0px;
    left: 0px;
    margin: 0;
    outline:none;
}

.Pantalla1{
    background:url('../img/fondo.png') no-repeat center center;
    width: 360px;
    height: 616px;
    position: absolute;
    top:0px;
    left: 0px;
    margin: 0;
    outline:none;
}
.Pantalla2{
    background:url('../img/fondo.png') no-repeat center center;
    background-color: rgb(41, 171, 226);
    opacity: 1;
    width: 360px;
    height: 616px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    outline:none;
}

.botonesprincipales{
    top: 0px;
    left: 0px;
    width: 20%;
    height: 65px;
    align-content: center;
    font-family: serif;
    font-size: 100%;
    outline: none;
    margin-top: 5px;
}

.botonesprincipales1{
    top: -37px;
    left: 60px;
    width: 18%;
    height: 65px;
    align-content: center;
    font-family: serif;
    font-size: 100%;
    outline: none;
    position: relative;
}

.botonesprincipales2{
    top: 6px;
    left: 14px;
    width: 60%;
    height: 27px;
    background-color: white;
    align-content: center;
    font-family: serif;
    font-size: 100%;
    outline: none;
    position: relative;
}

/*
.cabecera {
    border: 1px solid black;
    width: 331px;
    height: 85px;
    position: absolute;
    top: 19px;
    left: 10px;
    border-radius: 29px;
    background-color: blue;
    text-align: center;
}

.contenedor {    
        border: 1px solid black;
    width: 345px;
    height: 168px;
    position: absolute;
    top: 40px;
    left: 5px;
}

.contenedor2{
        
    border: 1px solid black;
    width: 345px;
    height: 108px;
    position: absolute;
    top: 294px;
    left: 5px;
}
*/

.contenedorinterno {
    border-radius: 21px;
    border: 2px solid black;
    width: 310px;
    height: 18px;
    position: relative;
    top: -9px;
    left: 19px;
    background: white;
}
.contenedor5 {    
    width: 444px;
    height: 35px;
    position: absolute;
    top: 407px;
    left: 61px;
}

.number{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 25px;
}

.number1{
    border-radius: 88px;
    width: 36px;
    height: 11px;
    position: relative;
    top: -32px;
    left: 15px;
}

#calendario{
    width: 298px;
    height: 70px;
    border-radius:20px;
}

.contenedor3{   
    border: 1px solid black;
    width: 77px;
    height: 40px;
    position: absolute;
    top: 66px;
    left: 266px;
}

.tituloPantalla{
    top: 0px;
    height: 70px;
    width: 300px;
    margin: 0px auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(242,242,242, 0.3);
}

h1{
    margin: 0 auto;
    font-size: 29px;
}

h4{
    font-size: 18px;
}

h2, h3, h4{
    letter-spacing: 1px;
}

.colorTipoLetra{
    color: white;
    font-family: sans-serif;
    
}

.fuenteTitulos{
    color: white;
    font-family: AgencyFB;
}

.color2TipoLetra{
    color: #0071BC;
    font-family: sans-serif;
}

label{
    color: white;
    font-family: serif;
    margin-right: 30px;
}

.letraPequeña{
    font-size: 12px;
}

.imgtituloMedicamentos{
    border-radius: 15px;
    width: 300px;
}

.anadirMedicamentos{
    border-radius: 15px;
    width: 134px;
    height: 71px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.menu{
    position: absolute;
    top: 520px;
    left: 25px;
    border-radius: 15px;
    width: 310px;
    height: 75px;
    text-align: center;
    background-color: rgb(46,49,146, 1);
}

.divMostrar{
    text-align: center;
    width: 315px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: rgb(242,242,242, 0.3);
}

.centrarVerticalmente{
    vertical-align: middle;
}

.marginSiete{
    margin: 0px 7px;
}

.margenAbajo{
    margin-bottom: 12px;
}

.paddingAbajo{
    padding-bottom: 12px;
}

.margenArriba{
    margin-top: 6px;
}

.margenDerecha{
    margin-right: 10px;
}

.margenGeneral{
    margin: 5px 5px;
}

.paddingArribaAbajo{

    padding: 7px 0px;
}

.margenLados40{

    margin: 0px 40px;
}

#divCalendarioMedicinas{
    position: relative;
    top: 60px;
}

#divMedicamenosPorTomar{

    position: relative;
    top: 80px;
}

#divBtnAnadirMedicina{
    position: relative;
    top: 70px;
}

.divConfig{
    
    /*border: 1px blue;*/
    width: 315px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: rgb(255,255,255, 0.3);
}

.divConfigZindex{
    width: 315px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: rgb(41,171,226, 0.6);
}

.alto90{
    height: 90px;
}

.alinearIzquierda{
    text-align: left;
}

.alinearDerecha{	
    float: right;
}

.alinearCentro{
    text-align: center;
}

.inputText{
    border: 0px;
    display: inline-block;
    background-color: rgb(255,255,255, 0.5);
    width: 300px;
    border-radius: 8px;
}

.tamanoInput{

    width: 100px;
}

#divConfigurarDia{
    background-color: rgb(242,242,242, 0.95);
    position: absolute;
    top: 225px;
    left: 20px;
    border-radius: 15px;
    height: 120px;
}

#divConfigurarHora{
    background-color: rgb(242,242,242, 0.95);
    position: absolute;
    top: 245px;
    left: 95px;
    border-radius: 15px;
    width: 190px;
}

#divConfigurarForma{
    background-color: rgb(242,242,242, 0.95);
    position: absolute;
    top: 367px;
    left: 25px;
    border-radius: 15px;
    width: 120px;
}

#divConfigurarColor{
    background-color: rgb(242,242,242, 0.95);
    position: absolute;
    top: 383px;
    left: 115px;
    border-radius: 15px;
    width: 120px;
}

#divConfigurarSonido{
    background-color: rgb(242,242,242, 0.95);
    position: absolute;
    top: 318px;
    left: 200px;
    border-radius: 15px;
    width: 140px;
}

.divSonidoElegido{
    background-color: #0071BC;
    border-radius: 8px;
}

.inputCantidad{
    border-radius: 8px;
    border-color: #0071BC;
    display: inline-block;
    width: 85px;
}

.fondoAzul{
    background-color: rgb(41, 171, 226, 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.displayInline{
    display: inline-block;
}

.zindex{
    z-index: 2;
}